<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/default.html}">
<head>
<form action="#" th:action="@{/profile/registration}"
	th:object="${profile}" method="post">

	<div class="form-group row">
		<ul>
			    
			<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
		</ul>
	</div>

	<div class="form-group row">
		<label for="email" class="col-sm-2 col-form-label">Email</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="email"
				th:field="*{email}" />
		</div>
	</div>
</form>