<div class="contrainer-fluid">
    <div class="row bg-light">
        <div class="col-sm-12">
           <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 bg-light">
            <button class="btn btn-primary">Link</button>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-sm-12">
            footer goes here
        </div>
    </div>
</div>
