<div class="contrainer-fluid">
    <div class="row bg-light">
        <div class="col-sm-12">
           <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 bg-light">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-sm-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>
